<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Pallow</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>
    <link rel="icon" href="https://github.com/user-attachments/assets/38c43d3b-dce7-422c-b89a-572308799e96"
          type="image/x-icon">
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">
<div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-sm">
    <div class="mb-6 text-center">
        <picture>
            <!-- WebP 포맷을 지원하는 브라우저에서 사용 -->
            <source srcset="https://github.com/pallows/pallow/raw/front-2/src/main/resources/static/images/352892618-38c43d3b-dce7-422c-b89a-572308799e96.webp" type="image/webp">
            <!-- PNG 포맷을 대체로 제공 -->
            <source srcset="https://github.com/user-attachments/assets/38c43d3b-dce7-422c-b89a-572308799e96" type="image/png">
            <!-- 기본 이미지 (백업용) -->
            <img src="https://github.com/user-attachments/assets/38c43d3b-dce7-422c-b89a-572308799e96" alt="Team Logo" class="mx-auto mb-4">
        </picture>
    </div>
    <form id="loginForm">
        <div class="mb-4">
            <label for="username" class="block text-gray-700">ID</label>
            <input type="text" id="username" name="username"
                   class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                   required>
        </div>
        <div class="mb-6">
            <label for="password" class="block text-gray-700">PASSWORD</label>
            <input type="password" id="password" name="password"
                   class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                   required>
        </div>
        <div class="flex mb-4 space-x-2">
            <button type="submit" class="w-1/2 mr-2 bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600">로그인</button>
            <a href="/signup" class="w-1/2 ml-2 bg-green-500 text-white py-2 rounded-lg hover:bg-green-600 text-center">회원가입</a>
        </div>
    </form>
    <a href="/auth/oauth/login/kakao"
       class="block w-full bg-yellow-500 text-white py-2 rounded-lg hover:bg-yellow-600 text-center">카카오 로그인</a>
    <div id="error" class="alert alert-danger mt-4" style="display: none;">
        <p id="errorMessage" class="text-red-500 text-center">Invalid username or password.</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#loginForm').on('submit', function(event) {
                event.preventDefault(); // Stop the form from submitting through the browser
                login();
            });
        });

        function login() {
            let username = $('#username').val();
            let password = $('#password').val();

            if (username && password) {
                username = username.trim();
                password = password.trim();
            } else {
                alert('Username or password field is empty or not found.');
                return; // Exit the function if validation fails
            }

            $.ajax({
                type: "POST",
                url: "/users/login",
                contentType: "application/json",
                data: JSON.stringify({ username: username, password: password }),
                success: function(data, textStatus, xhr) {
                    const accessToken = xhr.getResponseHeader('Authorization');
                    if (accessToken) {
                        localStorage.setItem('AccessToken', accessToken);
                        localStorage.setItem('username', username);
                        alert('Login successful!');
                        window.location.href = '/main';
                    } else {
                        alert('Login failed: Access token not found.');
                    }
                },
                error: function(xhr) {
                    alert("Login failed: " + xhr.responseText);
                }
            });
        }
    </script>
<!--    <script type="module">-->
<!--        // document.getElementById('loginForm').addEventListener('submit', function(event) {-->
<!--        //     event.preventDefault();-->
<!--        //-->
<!--        //     const username = document.getElementById('username').value;-->
<!--        //     const password = document.getElementById('password').value;-->
<!--        //-->
<!--        //     fetch('/users/login', {-->
<!--        //         method: 'POST',-->
<!--        //         headers: {-->
<!--        //             'Content-Type': 'application/json'-->
<!--        //         },-->
<!--        //         body: JSON.stringify({ username, password })-->
<!--        //     })-->
<!--        //     .then(response => response.json())-->
<!--        //     .then(data => {-->
<!--        //         if (data.accessToken) {-->
<!--        //             localStorage.setItem('accessToken', data.accessToken);-->
<!--        //             localStorage.setItem('username', username);-->
<!--        //             window.location.href = '/main';-->
<!--        //         } else {-->
<!--        //             document.getElementById('error').style.display = 'block';-->
<!--        //         }-->
<!--        //     })-->
<!--        //     .catch(error => {-->
<!--        //         console.error('Error:', error);-->
<!--        //         document.getElementById('error').style.display = 'block';-->
<!--        //     });-->
<!--        // });-->
<!--    </script>-->

</div>

</body>
</html>