<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>
    <link rel="icon"
          href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FoXBYw%2FbtsIPXrDjTc%2FpLzzFxLchTAtiBSFLAfEX1%2Fimg.png"
          type="image/x-icon">
</head>
<body class="bg-gray-100 p-6">
<div id="meets-container" class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-lg">
    <div class="flex items-center mb-6">
        <img id="profile-image" src="https://source.unsplash.com/random/100x100" alt="Profile"
             class="w-24 h-24 rounded-full mr-6">
        <div>
            <h1 class="text-2xl font-bold">조회수</h1>
            <p id="meets-date" class="text-gray-500">2024.07.20 작성됨</p>
        </div>
        <div class="flex justify-between items-center mb-6">
            <button id="likeButton" class="bg-blue-500 text-white px-4 py-2 rounded ml-4 ">Like <span
                    id="likeCount">0</span></button>
            <button id="deleteButton" class="bg-red-500 text-white px-4 py-2 rounded ml-4 ">삭제</button>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-4 mb-6">
        <div>
            <label class="block text-gray-700">참가인원</label>
            <input id="member-count" type="text" class="w-full p-2 border border-gray-300 rounded" disabled>
        </div>
        <div>
            <label class="block text-gray-700">위치</label>
            <input id="position" type="text" class="w-full p-2 border border-gray-300 rounded" disabled>
        </div>
        <div>
            <label class="block text-gray-700">제목</label>
            <input id="title" type="text" class="w-full p-2 border border-gray-300 rounded" disabled>
        </div>
        <div>
            <label class="block text-gray-700">모임장</label>
            <input id="groupMaster" type="text" class="w-full p-2 border border-gray-300 rounded" disabled>
        </div>
    </div>
    <div class="mb-6">
        <label class="block text-gray-700">모임설명</label>
        <textarea id="content" class="w-full p-2 border border-gray-300 rounded" rows="4"
                  disabled>나의 챌린지 찍는 길 같이 가실 분</textarea>
    </div>
    <div class="flex justify-between items-center mb-6">
        <button id="InvitationList" class="bg-red-500 text-white px-4 py-2 rounded">참가 신청자 목록</button>
        <div>
            <button id="participant" class="bg-gray-200 text-gray-700 px-4 py-2 rounded">참가신청</button>
            <button id="closeButton" class="bg-gray-200 text-gray-700 px-4 py-2 rounded">닫기</button>
        </div>
    </div>
    <div class="mb-6">
        <h2 class="text-xl font-bold mb-4">리뷰 작성란</h2>
        <div class="flex items-center mb-4">
            <textarea id="review-content" class="w-full p-2 border border-gray-300 rounded" rows="2"
                      placeholder="리뷰를 작성하세요..."></textarea>
            <button id="submit-review" class="bg-gray-200 text-gray-700 px-4 py-2 rounded ml-4">작성</button>
        </div>
    </div>
    <div id="reviews">
    </div>
</div>
<script>
    const accessToken = localStorage.getItem('Authorization');
    const likeButton = document.getElementById('likeButton');
    const likeCountElement = document.getElementById('likeCount');

    function fetchWithAuth(url, options = {}) {
        options.headers = {
            ...options.headers,
            'Authorization': accessToken,
            'Content-Type': 'application/json'
        };
        return fetch(url, options);
    }

    // //TODO 받아온 MeetId를 넣어줘야합니다.
    // const meetId = 1; // TODO 숫자 1 대신에 받아온 MeetId가 들어가야 정상 작동 됩니다.

    // URL에서 meetId 가져오기
    const path = window.location.pathname;
    const meetId = path.split('/').pop();  // 마지막 경로 부분을 meetId로 추출

    if (!meetId) {
        alert('모임 ID가 필요합니다.');
        window.location.href = '/error-page'; // meetId가 없을 경우 오류 페이지로 리다이렉트
    }

    document.getElementById('closeButton').addEventListener('click', function () {
        window.close(); // 팝업 창 닫기
    });
    document.getElementById('InvitationList').addEventListener('click', async () => {

        window.open(`http://localhost:8080/InvitationList.html?meetId=${meetId}`, '신청 목록', `width=800,height=600,top=${(screen.height - 600) / 2},left=${(screen.width - 800) / 2}`);
    });

    document.getElementById('participant').addEventListener('click', async function () {
        const userResponse = await fetchWithAuth(`/users/only`)
        const currentUser = await userResponse.json();
        // currentUser.data.id
        const invitationResponse = await fetchWithAuth(`/groups/${meetId}/invitation`, {
            method: "POST",
            body: JSON.stringify({userId: currentUser.data.id})
        })
        console.log("currentUser.data.id : ", currentUser.data.id)
        if (invitationResponse.ok) {
            alert('해당 모임에 신청을 완료했습니다.');
        } else if (invitationResponse.status === 403) {
            // 403 Forbidden 상태 코드 확인
            const errorResponse = await invitationResponse.json();
            alert(errorResponse.message); // 서버에서 반환한 메시지를 표시
        } else {
            const errorResponse = await invitationResponse.json();
            console.log(errorResponse)
            alert("이미 신청중인 모임입니다.");
        }
    });
    document.addEventListener('DOMContentLoaded', function () {

        // TODO 받아온 meet id

        if (!accessToken) {
            window.location.href = '/login';
            return;
        }


        async function fetchMeetDetails() { // meet 하나 조회
            try {
                const response = await fetchWithAuth(`/api/meets/${meetId}`, { //컨트롤러,Dto 수정
                    method: 'GET'
                });
                if (!response.ok) {
                    console.log("response: ", response)
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                const data = await response.json();
                const resData = data.data;
                displayMeetData(resData);
                await fetchReviews(); // Fetch all reviews for the meet
            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }

        function displayMeetData(resData) {
            document.getElementById('meets-container').classList.remove('hidden');
            document.getElementById('profile-image').src = resData.creatorProfilePhoto || 'https://source.unsplash.com/random/100x100';
            document.getElementById('meets-date').innerText = new Date(resData.createdAt).toLocaleDateString();
            document.getElementById('member-count').value = `${resData.memberCount}명`;
            document.getElementById('position').value = resData.position || '위치 정보 없음';
            document.getElementById('title').value = resData.title;
            document.getElementById('content').value = resData.content;
            document.getElementById('groupMaster').value = resData.groupCreator;
            console.log("resData.groupCreatorId", resData.groupCreatorId)
            checkIfGroupMaster(resData.groupCreatorId);
        }

        async function checkIfGroupMaster(id) {
            try {
                const userResponse = await fetchWithAuth(`/users/only`);
                const currentUser = await userResponse.json();
                console.log("currentUser.data.id", currentUser.data.id)
                if (currentUser.data.id !== id) {
                    document.getElementById('deleteButton').style.display = 'none';
                    document.getElementById('InvitationList').style.display = 'none';
                }
                if (currentUser.data.id === id) {
                    document.getElementById('deleteButton').style.display = 'block';
                    document.getElementById('InvitationList').style.display = 'block';
                }
            } catch (error) {
                console.error('Error checking group master:', error);
            }
        }


        async function fetchReviews() {
            try {
                const response = await fetchWithAuth(`/meets/${meetId}/review`, {
                    method: 'GET'
                });
                console.log("meets Reviews : ", response)
                if (!response.ok) {
                    throw new Error(`모임에 참여중인 유저가 아닙니다.`);
                }
                const data = await response.json();
                displayReviews(data);
            } catch (error) {
                console.error('Error fetching reviews:', error);
            }
        }

        function displayReviews(data) {
            const reviewsContainer = document.getElementById('reviews');
            reviewsContainer.innerHTML = ''; // 기존 리뷰 초기화

            if (data && data.data && Array.isArray(data.data)) { // data.data가 배열인지 확인
                data.data.forEach(review => {
                    const reviewElement = document.createElement('div');
                    reviewElement.classList.add('flex', 'items-start', 'mb-4');
                    reviewElement.innerHTML = `
                        <img src="${review.reviewerProfilePhoto || 'https://source.unsplash.com/random/50x50'}" alt="Reviewer" class="w-12 h-12 rounded-full mr-4">
                        <div class="bg-gray-100 p-4 rounded-lg w-full">
                            <div class="flex justify-between items-center mb-2">
                                <span class="font-bold">${review.reviewerName || 'Anonymous'}</span>
                                <div class="flex">
                                    ${[...Array(review.starRating)].map(() => `
                                        <svg class="w-4 h-4 text-yellow-500" fill="currentColor" viewBox="0 0 20 20">
                                            <path d="M10 15l-5.878 3.09 1.122-6.545L.488 6.91l6.564-.955L10 0l2.948 5.955 6.564.955-4.756 4.635 1.122 6.545z"/>
                                        </svg>
                                    `).join('')}
                                </div>
                            </div>
                            <p>${review.content}</p>
                        </div>
                    `;
                    reviewsContainer.appendChild(reviewElement);
                });
            }
        }

        fetchMeetDetails();

        // 리뷰 작성 이벤트 리스너
        document.getElementById('submit-review').addEventListener('click', async function () {
            const reviewContent = document.getElementById('review-content').value;
            const reviewData = {
                content: reviewContent,
                starRating: 0 //TODO :  실제로 아직 프론트에 구현 되어 있지 않습니다.
            };

            try {
                const response = await fetchWithAuth(`/meets/${meetId}/review`, {
                    method: 'POST',
                    body: JSON.stringify(reviewData)
                });
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                const data = await response.json();
                if (data.message === '리뷰를 생성하였습니다.') {
                    alert('리뷰가 성공적으로 추가되었습니다.');
                    document.getElementById('review-content').value = '';
                    fetchReviews(); // Fetch the updated list of reviews
                } else {
                    throw new Error('리뷰 작성에 실패했습니다.');
                }
            } catch (error) {
                console.error('Error creating review:', error);
                alert('모임 참가자만 리뷰를 작성할 수 있습니다.');
            }
        });
    });
    document.getElementById('deleteButton').addEventListener('click', async function () {
        const confirmDelete = confirm('정말로 이 모임을 삭제하시겠습니까?');
        if (confirmDelete) {
            const response = await fetchWithAuth(`/api/meets/${meetId}`, {
                method: 'DELETE'
            });

            const data = await response.json();
            if (data.message === '그룹을 삭제하였습니다.') {
                alert('모임이 성공적으로 삭제되었습니다.');
                window.close();
            }
        }
    });

    async function initializeLikeStatus() {
        try {
            const response = await fetchWithAuth(`/api/meets/${meetId}`);
            if (response.ok) {
                const data = await response.json();

                console.log("likesCount:", data.data);

                const {likesCount} = data.data;

                // 좋아요 수를 업데이트
                likeCountElement.innerText = likesCount;
                // 좋아요 수와 버튼 색상 상태를 업데이트
            }
        } catch (error) {
            console.error('Error fetching like status:', error);
        }
    }

    likeButton.addEventListener('click', async function () {

        const response = await fetchWithAuth(`/api/meets/${meetId}/like`, {
            method: 'POST'
        });

        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }
        const updatedResponse = await fetchWithAuth(`/api/meets/${meetId}`);
        if (updatedResponse.ok) {
            const data = await updatedResponse.json();
            const {likesCount} = data.data;
            // 좋아요 수를 업데이트
            likeCountElement.innerText = likesCount;
        }
    });


    // 페이지 로드 시 좋아요 상태 초기화
    initializeLikeStatus();
</script>
</body>
</html>